body {font-family: Arial, Helvetica, sans-serif;}

.box{
	background-color: #7900F1;
	width:40%;
	margin:20px 20px 20px 29%;
	padding:15px;
}

.image{
	text-align:center;
}

label{
	color:white;
}


/* Full-width input fields */
input[type=text],input[type=password],input[type=email], textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
  float: none;}
}



<a href="page2.php?varname=<?php echo $var_value ?>">Page2</a>