body, html {
  height: 100%;
  margin:0px;
}
.navbar{
	width:1050px;
	opacity:0.9;
	margin: auto;
}
.bg { 
  background-image: url("bg_img.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
	background-color:blue;
	width:1050px;
	height:92.5%;
	opacity:0.9;
	margin: auto;
	background:linear-gradient(35deg,#CCFFFF, #FFB6C1);
	display:flex;
	flex-direction:column;
}
.taskbar{
	height:4%;
	background-color:brown;
	width:100%;
	text-align:right;
	color:white;
}

.banner{
	background-color:white;
	position:relative;
	height: 25%;
	width:auto;
}

.frame{
	position:relative;
	height: 92%;
	width:100%;
}

h4{
	padding:4px;
	margin:0px;
}

a{
		color:white;
}